{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать!</h1>

{% if user %}
    <p>Привет, {{ user.username }}!</p>
    <p>Вы успешно вошли в систему.</p>
    <a class="btn btn-link">
        <form method="post" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-link nav-link">Выйти</button>
        </form>
    </a>
{% else %}
    <p>Чтобы начать планировать путешествия, войдите в систему или зарегистрируйтесь:</p>
    <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
    <a href="{% url 'register' %}" class="btn btn-success">Зарегистрироваться</a>
{% endif %}
{% endblock %}